body {
    background: #640c4e;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: #f2f2f2;
}

table {
    border: 5px solid #000000;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

th,
td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
    background: #f2f2f2;
}

th {
    background: #d6d2d2;
}